* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

body {
    font-size: 14px;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #E6EFF5;
    overflow-x: hidden;
}

#container {
    height: 100%;
    width: 100%;
    /* margin: 25px; */
}

#top {
    background-color: #FFFFFF;
    padding: 25px;
    margin: 16px 25px 0 25px;
}

#top h4,
#top p {
    padding-top: 20px;
}

#top h2 {
    color: #2DB2B1;
}

#top h4 {
    color: #BFDF33;
}

#top p {
    color: #C7CAD4;
}

#bottom {
    display: flex;
    padding: 0 25px 16px 25px;
}

#bottom_left {
    background-color: #2DB2B1;
    width: 50%;
    height: 250px;
    padding: 25px;
}

#bottom_left p,
button {
    margin-top: 20px;
}

#bottom_left #price {
    font-size: 36px;
    margin-right: 14px;
}

button {
    background-color: #BFDF33;
    padding: 10px 18px;
    width: 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.10);
}

#bottom_right {
    background-color: #4BBDBD;
    width: 50%;
    height: 250px;
    padding: 25px;
}

#bottom_right ul {
    list-style-type: none;
    margin-top: 20px;
}

#bottom_right li {
    margin-top: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}